@model Lab1_WOMU.Models.CartItem

@{
    ViewBag.Title = "View";
}


<h2>View</h2>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produkt.ProduktNamn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produkt.ProduktNamn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
    @Html.BeginForm("EditCount","ShoppingCart",FormMethod.Get)
  <p>
        OrderID: <input type="number" name="count" id="box"/>
        <input type="submit" value="Search" />
    </p>
        </div>
        
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
