@model Lab1_WOMU.Models.Produkt

@{
    ViewBag.Title = "Köp Sida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".AddLink").click(function () {
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>


<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProduktNamn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProduktNamn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pris)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pris)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AntalILager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AntalILager)
        </dd>
    </dl>
</div>


<a href="#" class="AddLink"
   data-id="@Model.ProduktID" data-toggle="modal" data-target="#myModal" >
    Lägg till i varukorg
</a>

<p>
    @Html.ActionLink("Tillbaka till Produkt lista", "Index")
</p>