@model Lab1_WOMU.Models.Produkt

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}



<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProduktID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProduktID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProduktNamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProduktNamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProduktBeskrivning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProduktBeskrivning)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntalILager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntalILager)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka till Order Koll", "OrderKoll")
</p>
